:host {
  display: grid;
  grid-template-rows: repeat(3, auto);
  --card-padding: var(--spacer-lg);

  button .mat-icon {
    width: var(--font-size-card-number);
    height: var(--font-size-card-number);
    font-size: var(--font-size-card-number);
  }
}
