:host {
  display: block;

  .mat-fab {
    background: var(--foreground);
    border: var(--spacer-xs) solid var(--primary-color);
    width: 3.5rem;
    height: 3.5rem;
    font-size: var(--emoji-size-sm);

    &[disabled] {
      .emoji {
        filter: grayscale(0.6);
      }
    }

    &::ng-deep .mat-button-wrapper {
      padding: 0;
      display: grid;
      place-items: center;
    }
  }

  .inner-btn {
    display: grid;
    grid-template-areas: 'button';
    place-items: center;

    > * {
      grid-area: button;
    }
  }

  .ammo {
    color: var(--foreground-secondary);
    position: absolute;
    bottom: var(--spacer-sm);
    right: var(--spacer-md);
    font-size: var(--font-size-sm);
  }
}
