<h3>How to play</h3>
<div>
  <span class="emoji">{{ roles }}</span>
  <span>You are one team - divided into <em>painters</em> and <em>buyers</em></span>
</div>
<div>
  <span class="emoji">{{ themes }}</span>
  <span><em>Two themes</em> are revealed at the beginning of each round</span>
</div>
<div>
  <span class="emoji">{{ demand }}</span>
  <span>Buyers ask painters for an <em>amount of paintings</em> (demand)</span>
</div>
<div>
  <span class="emoji">{{ paint }}</span>
  <span>Painters <em>deliver paintings</em> from their gallery and assign them to the themes</span>
</div>
<div class="faker-step">
  <span class="emoji">{{ faker }}</span>
  <span><em>Oh no!</em> 4 more paintings are smuggled in by the <em>faker</em></span>
</div>
<div>
  <span class="emoji">{{ buy }}</span>
  <span>Buyers try to <em>match the paintings</em> to the themes. But don't fall for the fakes!</span>
</div>
<div>
  <span class="emoji">{{ evaluate }}</span>
  <span><em>Showtime:</em> Did you choose your teammates' paintings or has the faker deceived you?</span>
</div>
<div>
  <span class="emoji">{{ repeat }}</span>
  <span><em>Repeat</em> until your team bought 6 fakes. How long can you go?</span>
</div>
<div>
  <span class="emoji">{{ jokers }}</span>
  <span><em>Use jokers</em> to improve your chances and win them back by doing everything right</span>
</div>
