@use '../../mixins';

:host {
  display: flex;
  gap: var(--spacer-sm);

  .theme-group {
    position: relative;
    --color-dot-size: var(--emoji-size-md); // to be around emoji

    @include mixins.stackEffect();
  }
}
