@use '../../mixins';

:host {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 1fr;
  justify-items: center;
  gap: var(--spacer-xxl);
  padding: var(--spacer-lg);
  padding-inline-end: calc(#{var(--spacer-xxl)} + #{var(--spacer-lg)}); // gap + padding // for weird padding collapse behavior
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;

  .team-points,
  .fake-points {
    display: grid;
    grid-template-rows: auto 1fr;
    width: 100%;
    max-width: 500px;
    gap: var(--spacer-lg);

    :nth-child(1) {
      font-size: var(--emoji-size-xxl);
    }
    :nth-child(2) {
      @include mixins.defaultGrid();
      grid-auto-rows: min-content;
    }
  }
}
