mat-toolbar {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40px, auto));

  div {
    text-align: center;

    &:first-child {
      text-align: start;
    }

    &:last-child {
      text-align: end;
    }
  }
}
