:host {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(#{var(--font-size-lg)} + 2 * #{var(--spacer-lg)}), auto));
  font-size: var(--font-size-lg);
  padding: var(--spacer-md) var(--spacer-lg);

  div {
    display: flex;
    justify-content: center;
    align-items: center;

    &:first-child {
      justify-content: flex-start;
    }

    &:last-child {
      justify-content: flex-end;
    }
  }
}
