:host {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas: 'card';
  place-items: var(--card-place-items, center);
  cursor: var(--card-cursor, pointer);
  border: var(--border-width) var(--card-border-style, solid) var(--card-border-color, transparent);
  background-color: var(--card-background, var(--card-background-default));
  border-radius: var(--border-radius);
  box-shadow: var(--card-box-shadow);

  pointer-events: none; // re-activated when clickable

  > * {
    grid-area: card;
  }

  .content {
    padding: var(--card-padding, var(--spacer-xl));
    font-size: var(--card-font-size, var(--emoji-size-lg));
  }

  &.clickable {
    pointer-events: all;
  }

  &.disabled {
    box-shadow: none;
    filter: grayscale(0.75);
    opacity: 0.75;
  }

  &.selected.clickable {
    background-color: var(--card-background, var(--card-background-selected));
  }

  .top-right {
    place-self: start end;
    margin: var(--indicator-spacer, var(--spacer-xs));
  }

  .bottom-left {
    place-self: end start;
    margin: var(--indicator-spacer, var(--spacer-xs));
  }

  .bottom-right {
    $size: var(--font-size-sm);
    place-self: end end;
    margin: var(--indicator-spacer, var(--spacer-xs));
    line-height: $size;
    pointer-events: all; // override parent

    .mat-icon {
      color: var(--foreground-tertiary);
      width: $size;
      height: $size;
      font-size: $size;
    }
  }
}
