<app-game-creator></app-game-creator>

<button mat-flat-button routerLink="/cards">Show all cards</button>

<div class="games">
  <!-- NEW GAMES -->
  <app-game-list *ngIf="newGames$ | async as newGames" label="New Games" [games]="newGames" (delete)="deleteGame($event)"></app-game-list>

  <!-- ONGOING GAMES -->
  <app-game-list
    *ngIf="ongoingGames$ | async as ongoingGames"
    label="My ongoing Games"
    [games]="ongoingGames"
    (delete)="deleteGame($event)"
  ></app-game-list>

  <!-- FINISHED GAMES -->
  <app-game-list
    *ngIf="finishedGames$ | async as finishedGames"
    label="My finished Games"
    [games]="finishedGames"
    (delete)="deleteGame($event)"
  ></app-game-list>
</div>

<mat-progress-spinner *ngIf="loading" mode="indeterminate" diameter="50"></mat-progress-spinner>

<app-quick-rules></app-quick-rules>
