:host {
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  justify-items: center;
  gap: var(--spacer-lg);
  margin: var(--spacer-lg);
  text-align: center;

  h2 {
    margin: var(--spacer-xxl) 0 var(--spacer-sm);
  }
}
