:host {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  padding: var(--card-padding, var(--spacer-lg));
  font-size: var(--card-font-size, var(--emoji-size-lg));
  cursor: var(--card-cursor, pointer);
  border: var(--border-width) var(--card-border-style, solid) var(--card-border-color, transparent);
  background-color: var(--card-background, var(--card-background-default));
  border-radius: var(--border-radius);
  box-shadow: var(--card-box-shadow);

  &.selected {
    background-color: var(--card-background, var(--card-background-selected));
  }
}
