:host {
  display: flex;
  height: 100%;
  &.selected {
    mat-card {
      background-color: var(--card-background-color, #555);
    }
  }
}

mat-card {
  width: 100%;
  padding: var(--card-padding, 16px);
  font-size: var(--card-font-size, 48px);
  display: grid;
  place-items: center;
  cursor: var(--card-cursor, pointer);
  border: 2px var(--card-border-style, solid) var(--card-border-color, transparent);
  background-color: var(--card-background-color, #424242);
}
