<ng-container *ngIf="game$ | async as game">
  <ng-container *ngLet="currentPlayer$ | async as currentPlayer">
    <!-- PRE-GAME (players joining) -->
    <app-joining-view *ngIf="GamePhase.Init === game.phase" [game]="game" [currentPlayer]="currentPlayer"></app-joining-view>

    <!-- ONGOING GAME -->
    <app-game-field
      *ngIf="GamePhase.Init !== game.phase && GamePhase.End !== game.phase"
      [game]="game"
      [currentPlayer]="currentPlayer"
    ></app-game-field>

    <!-- FINISHED GAME -->
    <app-end-view *ngIf="GamePhase.End === game.phase" [game]="game"></app-end-view>

    <!-- GAME STATUS -->
    <app-status-bar *ngIf="GamePhase.Init !== game.phase" [game]="game"></app-status-bar>

    <!-- CONFETTI -->
    <app-confetti></app-confetti>
  </ng-container>
</ng-container>
