<ng-container *ngIf="game">
  <app-joining-view *ngIf="GamePhase.Init === game.phase" [game]="game" [currentPlayer]="currentPlayer"></app-joining-view>
  <app-game-field
    *ngIf="GamePhase.Init !== game.phase && GamePhase.End !== game.phase"
    [game]="game"
    [currentPlayer]="currentPlayer"
  ></app-game-field>
  <app-end-view *ngIf="GamePhase.End === game.phase" [game]="game"></app-end-view>
  <app-status-bar *ngIf="GamePhase.Init !== game.phase" [game]="game"></app-status-bar>
</ng-container>
