<h2>
  <span>Market </span>
  <app-counter *ngIf="game" [game]="game" [includeEmoji]="true"></app-counter>
</h2>

<app-offer-preview
  *ngIf="game && showPreview"
  [game]="game"
  [prepareEndAnimation]="prepareSwitchToMarketAnimation"
  [showEndAnimation]="showSwitchToMarketAnimation"
></app-offer-preview>

<div *ngIf="game && (!showPreview || showSwitchToMarketAnimation)" #offer class="offer">
  <app-flip-card
    *ngFor="let picture of game.currentOffer; trackBy: trackByPictureCard"
    [showBack]="showSwitchToMarketAnimation"
    [appTranslateToCenter]="showSwitchToMarketAnimation"
    [container]="offer"
    [class.prepare-animation]="showSwitchToMarketAnimation"
  >
    <app-picture
      appFlipCardFront
      class="{{ getPictureCssClass(picture) }}"
      [picture]="picture"
      [selected]="getPictureIsSelected(picture)"
      [clickable]="active"
      (click)="toggleBuyerSelection(picture)"
    >
    </app-picture>
    <app-card appFlipCardBack
      ><span class="emoji">{{ unknownCardEmoji }}</span></app-card
    >
  </app-flip-card>
</div>
<ng-content></ng-content>
