@use '../../../mixins';

:host {
  display: grid;
  grid-template-rows: auto auto auto;
}

h2 {
  display: flex;
  gap: var(--spacer-lg);
}

app-offer-preview,
.offer {
  grid-area: 2 / 1;
}

.offer {
  @include mixins.defaultGrid();
  transform: scale(1);
  transition: transform 1.5s;
  --flip-card-delay: 0.5s;

  &.initial-show {
    transform: scale(0);
    opacity: 0;
  }

  &.show-start-animation {
    transform: scale(1);
    opacity: 1;
  }
}
