@use '../../../mixins';

:host {
  display: grid;
  grid-template-rows: auto auto auto;
}

h2 {
  display: flex;
  gap: var(--spacer-lg);
}

app-offer-preview,
.offer {
  grid-area: 2 / 1;
}

.offer {
  @include mixins.defaultGrid();

  app-flip-card {
    transition: transform 1s;

    @for $i from 1 through 11 {
      &:nth-child(#{$i}) {
        z-index: 11 - $i;
        transition-delay: #{($i - 1) * 0.1 + 0.1}s;
        --flip-card-delay: #{($i - 1) * 0.1 + 0.2}s;
      }
    }

    &.prepare-animation {
      transform: var(--translate-to-center);
      opacity: 0;

      transition-delay: 0s;
      --flip-card-delay: 0s;
    }
  }
}
