:host {
  &.selected {
    mat-card {
      background-color: var(--card-background-color, #555);
    }
  }
}

mat-card {
  padding: 30px;
  font-size: 60px;
  display: grid;
  place-items: center;
  cursor: pointer;
  border: 2px solid var(--card-border-color, transparent);
}
