:host {
  display: block;
}

.inner-list-item {
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-template-rows: repeat(2, auto);
  grid-auto-flow: column;
  gap: var(--spacer-xs);
  align-items: center;
  width: 100%;

  div:nth-child(2) {
    color: var(--foreground-secondary);
    font-size: var(--font-size-sm);
    font-style: italic;
  }

  .delete-btn,
  .result {
    grid-row: 1 / 3;
  }

  .result {
    display: grid;
    place-items: center;
    grid-auto-flow: column;
    gap: var(--spacer-xs);
  }
}
