@use '../../../mixins';

:host {
  @include mixins.defaultGrid();

  app-card {
    --card-cursor: default;

    &.too-much {
      --card-border-color: var(--danger-color);
    }

    &.missing {
      --card-border-color: var(--border-color-secondary);
      --card-border-style: dashed;
      --card-background: transparent;
    }
  }
}
