@use '../../../../mixins';

:host {
  @include mixins.defaultGrid(calc(#{var(--font-size-card-number)} + 2 * #{var(--spacer-lg)}));
  --card-font-size: var(--font-size-card-number);
}

app-card {
  position: relative;

  .suggestions {
    position: absolute;
    --indicator-spacer: var(--spacer-xs);
    top: var(--indicator-spacer);
    right: var(--indicator-spacer);
    @include mixins.stackEffect(var(--spacer-sm));
  }
}
