<div *ngIf="!currentPlayer" class="current-player">
  <h2>Join the game</h2>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Name</mat-label>
    <input type="text" matInput [(ngModel)]="name" (keydown.enter)="joinGame()" />
    <button mat-icon-button matSuffix (click)="joinGame()"><mat-icon>send</mat-icon></button>
  </mat-form-field>
</div>
<div *ngIf="game.players.length">
  <h2>Players</h2>
  <div class="players">
    <app-player-info *ngFor="let player of game.players" [game]="game" [player]="player"> </app-player-info>
  </div>
</div>
<button
  *ngIf="currentPlayer && currentPlayer.id === game.hostId && game.players.length >= minNumPlayers"
  mat-flat-button
  color="primary"
  (click)="startGame()"
>
  Start game
</button>
