:host {
  &.inactive {
    h2 {
      opacity: var(--inactive-opacity);
    }
  }
}

.jokers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--spacer-sm);
  --card-font-size: var(--emoji-size-xs);
  --card-padding: var(--spacer-xs);

  @media (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }

  app-card {
    span {
      display: inline-block;
      white-space: nowrap;

      & + span {
        margin-inline-start: var(--spacer-xs);
      }
    }
  }
}
