@use '../../mixins';

:host {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto) 1fr;
  gap: var(--spacer-xxl);
  justify-items: center;
  text-align: center;
  padding: var(--spacer-lg);
  height: 100%;
  overflow-y: auto;
}

.players {
  @include mixins.defaultGrid();
}

app-config {
  width: 40rem;
  max-width: calc(100vw - 2 * #{var(--spacer-lg)});
}
