:host {
  display: grid;
  place-items: center;
  height: var(--color-dot-size, var(--emoji-size-xs));
  width: var(--color-dot-size, var(--emoji-size-xs));
  background: var(--color);
  border: 1px solid var(--border-color);
  border-radius: 50%;

  &.colored-border {
    background: var(--card-background-selected);
    border: 2px solid var(--color);
  }
}
