:host {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: var(--spacer-lg);
  padding: var(--spacer-lg);
  border: var(--border-width) dashed var(--border-color);
  border-radius: var(--border-radius);
  align-items: center;

  &.evaluation-phase {
    .phase-emojis {
      grid-row: 1 / 3;
    }
  }
}

.role-group {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--spacer-md);
  align-items: center;
  grid-column: 1;
  &.inactive {
    opacity: 0.5;
  }
  .players {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacer-sm);
    div {
      white-space: nowrap;
      display: flex;
      align-items: center;
      &.current-player {
        order: -1;
        font-weight: bold;
      }
      &::before {
        content: '';
        background: var(--color);
        border-radius: 50%;
        width: var(--emoji-size-xxs);
        height: var(--emoji-size-xxs);
        display: inline-block;
        margin-inline-end: var(--spacer-xs);
      }
    }
  }
}

.phase-info {
  grid-column: 1;
  font-weight: bold;
}

.evaluation {
  display: flex;
  gap: var(--spacer-sm);
  align-items: center;
}

.phase-emojis {
  font-size: var(--emoji-size-lg);
  grid-column: 2;
  grid-row: 1 / 4;
}
