<div class="phase-info">
  {{ phaseInfoText }}
</div>

<div class="role-group" [class.inactive]="!paintersActive">
  <div class="emoji">{{ painter }}</div>
  <div class="players">
    <div *ngFor="let player of painters" [class.current-player]="currentPlayerId === player.id" [style.--color]="player.color">
      {{ player.name }}
    </div>
  </div>
</div>

<div class="role-group" [class.inactive]="!buyersActive">
  <div class="emoji">{{ buyer }}</div>
  <div class="players">
    <div *ngFor="let player of buyers" [class.current-player]="currentPlayerId === player.id" [style.--color]="player.color">
      {{ player.name }}
    </div>
  </div>
</div>

<div *ngIf="isEvaluation" class="evaluation">
  <span class="emoji">{{ pointsEmoji }}</span
  ><app-counter [game]="game"></app-counter>
</div>

<div class="phase-emojis emoji">{{ phaseEmojis }}</div>
