<div class="themes">
  <app-card
    *ngFor="let theme of game.currentThemes"
    [selected]="currentTheme === theme"
    [useEmojiFont]="true"
    (click)="currentThemeChange.emit(theme)"
  >
    {{ theme }}
  </app-card>
</div>
<app-counter [game]="game"></app-counter>
<button *ngIf="showOfferConfirm" mat-flat-button [disabled]="game.offerCount !== game.currentDemand" (click)="confirmOffer()">
  <mat-icon>check</mat-icon>
</button>
<button *ngIf="showSelectionConfirm" mat-flat-button [disabled]="game.selectionCount !== game.currentDemand" (click)="confirmSelection()">
  <mat-icon>check</mat-icon>
</button>
