:host {
  display: grid;
  padding: var(--spacer-lg);
  gap: var(--spacer-lg);
  grid-template-columns: 1fr auto auto;
  align-items: center;
}

.themes {
  display: grid;
  grid-template-columns: auto auto 1fr;
  gap: var(--spacer-sm);
  --card-padding: var(--spacer-xs) var(--spacer-md);
  --card-font-size: var(--emoji-size-sm);
}

button {
  padding: 0 var(--spacer-sm);
  min-width: auto;
  background: var(--success-color);
}
