<app-card
  *ngFor="let picture of offerPreview; trackBy: trackByPictureCard; let index = index"
  [class.too-much]="index >= game.currentDemand"
  [class.missing]="!picture.card"
>
  <span class="emoji">
    {{ picture.card }}

    <!-- if no text, use non-breaking space to have correct height -->
    <ng-container *ngIf="!picture?.card">&nbsp;</ng-container>
  </span>

  <app-player-marker *ngIf="picture.playerId" [players]="game.players" [playerId]="picture.playerId"></app-player-marker>
</app-card>

<div class="faker-cards">
  <app-card *ngFor="let picture of fakerArray">
    <span class="emoji">{{ picture }}</span>
  </app-card>
</div>
