@use '../../../../mixins';

:host {
  @include mixins.defaultGrid();
  transform: scale(1);
  transition: transform 0.5s;
  transition-delay: 1s;

  &.prepare-end-animation {
    transform: scale(0);

    .faker-cards {
      display: contents;
      position: unset;
    }
  }

  &.show-end-animation {
    .faker-cards {
      app-card {
        visibility: visible;
      }
    }
  }

  app-card {
    &.too-much {
      --card-border-color: var(--danger-color);
    }

    &.missing {
      --card-border-color: var(--border-color-secondary);
      --card-border-style: dashed;
      --card-background: transparent;
      --card-box-shadow: none;
    }
  }

  .faker-cards {
    position: absolute;
    pointer-events: none;

    app-card {
      visibility: hidden;

      @for $i from 1 through 4 {
        &:nth-child(#{$i}n) {
          transition: visibility 0.25s;
          transition-delay: #{($i - 1) * 0.25}s;
        }
      }
    }
  }
}
