@use '../../mixins';

:host {
  display: block;
  padding: 16px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.themes-and-demand {
  @include mixins.defaultGrid();

  .demand {
    display: grid;
    grid-template-rows: auto 1fr auto;
    button {
      margin-top: 16px; // todo ?
    }
  }
}

app-current-offer {
  margin-bottom: 16px;
}

.players {
  @include mixins.defaultGrid();
}
