@use '../../mixins';

$quickAccessBarHeight: 85px; // 68 + margin

:host {
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr;

  > * {
    grid-area: 1 / 1;
  }
}

.scroll-container {
  display: block;
  padding: var(--spacer-lg);
  padding-bottom: $quickAccessBarHeight;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

app-quick-access-bar {
  align-self: end;
  z-index: 1;
  background-color: rgba(var(--body-background-rgb), 0.85);
}

.demand {
  display: grid;
  grid-template-rows: repeat(3, auto);
  --card-padding: var(--spacer-lg);
  button {
    margin-top: var(--spacer-lg); // todo ?
  }
}

app-current-offer {
  margin-bottom: var(--spacer-lg);
}
