<app-current-themes *ngIf="game.currentThemes" [themes]="game.currentThemes" [(currentTheme)]="currentTheme"></app-current-themes>

<div *ngIf="showDemandPicker" class="demand">
  <h2>Set demand</h2>
  <app-demand-picker [(demand)]="demand"></app-demand-picker>
  <button mat-flat-button color="primary" [disabled]="!demand" (click)="setDemand()">Confirm</button>
</div>

<app-current-offer
  *ngIf="GamePhase.Demand !== game.phase"
  [game]="game"
  [pictures]="game.currentOffer"
  [currentTheme]="currentTheme"
></app-current-offer>

<button *ngIf="showEndRoundConfirm" mat-flat-button color="primary" (click)="endRound()">Next round</button>

<h2>Players</h2>
<div class="players">
  <app-player-info *ngFor="let player of game?.players" [player]="player"> </app-player-info>
</div>

<app-current-player-hand
  *ngIf="game.currentPlayer"
  [game]="game"
  [player]="game.currentPlayer"
  [currentTheme]="currentTheme"
></app-current-player-hand>
