<div #scrollContainer class="scroll-container">
  <div>
    <!-- INFO -->
    <app-phase-info [game]="game"></app-phase-info>

    <!-- THEMES -->
    <app-current-themes
      [themes]="game.currentThemes"
      [active]="themesActive"
      [scrollContainer]="scrollContainer"
      [(currentTheme)]="currentTheme"
    ></app-current-themes>

    <!-- JOKERS -->
    <app-jokers *ngIf="game.jokers.length" [game]="game" [currentPlayer]="currentPlayer"></app-jokers>
  </div>

  <div>
    <!-- DEMAND -->
    <app-demand *ngIf="showDemandPicker" [game]="game" [readonly]="!canSetDemand"></app-demand>

    <!-- OFFER -->
    <app-current-offer
      *ngIf="GamePhase.Demand !== game.phase"
      [game]="game"
      [currentTheme]="currentTheme"
      [currentPlayer]="currentPlayer"
      [scrollContainer]="scrollContainer"
    >
      <button *ngIf="showEndRoundConfirm" mat-flat-button color="primary" (click)="endRound()">Continue</button>
    </app-current-offer>

    <!-- PLAYER HAND -->
    <app-player-hand *ngIf="currentPlayer" [game]="game" [player]="currentPlayer" [currentTheme]="currentTheme"></app-player-hand>
  </div>
</div>

<!-- QUICK ACCESS -->
<app-quick-access-bar
  *ngIf="showQuickAccess"
  [game]="game"
  [currentPlayer]="currentPlayer"
  [(currentTheme)]="currentTheme"
></app-quick-access-bar>
