$quickAccessBarHeight: 85px; // 68 + margin

:host {
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr;

  > * {
    grid-area: 1 / 1;
  }
}

.scroll-container {
  display: block;
  padding: var(--spacer-lg);
  padding-bottom: $quickAccessBarHeight;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;

  @media (min-width: 600px) {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-flow: column;
    grid-auto-rows: min-content;
    gap: 20px;

    app-current-offer,
    app-player-hand {
      grid-column: 2;
      grid-row: span 2;
    }

    app-demand {
      grid-column: 2;
    }

    app-phase-info,
    app-current-themes,
    app-jokers {
      grid-column: 1;
    }
  }
}

app-quick-access-bar {
  align-self: end;
  z-index: 1;
  background-color: rgba(var(--body-background-rgb), 0.85);
}

app-current-offer {
  margin-bottom: var(--spacer-lg);

  button {
    place-self: center;
    margin-block-start: var(--spacer-lg);
  }
}
