<div class="themes-and-demand">
  <app-current-themes
    *ngIf="currentRound && currentRound?.themes?.length"
    [themes]="currentRound.themes"
    [(currentTheme)]="currentTheme"
  ></app-current-themes>

  <div class="demand">
    <h2>Current Demand</h2>
    <ng-container *ngIf="showDemandPicker">
      <app-demand-picker [(demand)]="demand"></app-demand-picker>
      <button mat-flat-button color="primary" [disabled]="!demand" (click)="setDemand()">Confirm</button>
    </ng-container>
    <app-card *ngIf="!showDemandPicker">
      {{ GamePhase.Offer == game?.phase ? currentOffer : currentBuyerSelection }} / {{ currentRound?.demand ?? "?" }}
    </app-card>
    <button
      *ngIf="showOfferConfirm"
      mat-flat-button
      color="primary"
      [disabled]="currentOffer !== currentRound?.demand"
      (click)="confirmOffer()"
    >
      Confirm offer
    </button>
    <button
      *ngIf="showSelectionConfirm"
      mat-flat-button
      color="primary"
      [disabled]="currentBuyerSelection !== currentRound?.demand"
      (click)="confirmSelection()"
    >
      Confirm selection
    </button>
  </div>
</div>

<app-current-offer
  *ngIf="currentRound && currentRound?.pictures?.length"
  [game]="game"
  [pictures]="currentRound.pictures"
  [currentTheme]="currentTheme"
></app-current-offer>

<button *ngIf="showEndRoundConfirm" mat-flat-button color="primary" (click)="endRound()">Next round</button>

<h2>Players</h2>
<div class="players">
  <app-player-info *ngFor="let player of game?.players" [game]="game" [player]="player"> </app-player-info>
</div>

<app-current-player-hand
  *ngIf="currentPlayer"
  [game]="game"
  [player]="currentPlayer"
  [currentTheme]="currentTheme"
></app-current-player-hand>
