@mixin defaultGrid($minValue: calc(#{var(--emoji-size-lg)} + 2 * #{var(--spacer-lg)})) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($minValue, 1fr));
  grid-auto-rows: 1fr;
  gap: var(--spacer-lg);
}

@mixin stackEffect($maxVisible: 3, $shiftValue: var(--spacer-xs)) {
  // stack effect
  @for $i from 2 through $maxVisible {
    :nth-child(#{$i}) {
      position: absolute;
      right: calc((#{$i} - 1) * #{$shiftValue});
      top: 0;
    }
  }

  :nth-child(n + #{$maxVisible + 1}) {
    display: none;
  }
}
