:host {
  display: block;

  &.correct {
    --card-border-color: var(--success-color);
    --card-background: var(--success-background);
  }
  &.neutral {
    --card-border-color: var(--warning-color);
  }
  &.fake {
    --card-border-color: var(--danger-color);
    --card-background: var(--danger-background);
  }
}

app-card {
  position: relative;

  .theme {
    position: absolute;
    font-size: var(--emoji-size-xs);
    --indicator-spacer: var(--spacer-xs);

    &.buyer {
      top: var(--indicator-spacer);
      right: var(--indicator-spacer);
    }
    &.painter {
      bottom: var(--indicator-spacer);
      left: var(--indicator-spacer);
    }
  }
}
