:host {
  display: block;
  pointer-events: none; // re-activated when clickable

  &.correct {
    --card-border-color: var(--success-color);
    --card-background: var(--success-background);
  }
  &.neutral {
    --card-border-color: var(--warning-color);
  }
  &.fake {
    --card-border-color: var(--danger-color);
    --card-background: var(--danger-background);
  }

  &.clickable {
    pointer-events: all;
  }
}

app-card {
  .theme {
    font-size: var(--emoji-size-xs);
    --color-dot-size: var(--emoji-size-md); // to be around emoji
    --dot-color: var(--player-color);
  }
}
