:host {
  &.correct {
    --card-border-color: green;
    --card-background-color: darkgreen;
  }
  &.neutral {
    --card-border-color: yellow;
  }
  &.fake {
    --card-border-color: red;
    --card-background-color: darkred;
  }
}

app-card {
  position: relative;

  .theme {
    position: absolute;
    font-size: 20px;

    &.buyer {
      top: 4px;
      right: 4px;
    }
    &.painter {
      bottom: 4px;
      left: 4px;
    }
  }
}
