<app-card [clickable]="clickable" [disabled]="disabled" [selected]="selected" [zoomEmoji]="picture?.card">
  <span class="emoji">{{ picture?.card }}</span>

  <app-buyer-selection-marker
    *ngIf="picture?.buyerSelection"
    appCardTopRight
    class="theme emoji"
    [selections]="picture.buyerSelection ?? []"
  ></app-buyer-selection-marker>

  <app-color-dot
    *ngIf="picture?.painterTheme"
    appCardBottomLeft
    [color]="picture?.painterId | playerColor | async"
    [coloredBorder]="true"
    class="theme emoji"
    >{{ picture?.painterTheme }}</app-color-dot
  >

  <div *ngIf="picture?.isFake" appCardBottomLeft class="theme fake emoji">
    {{ masterFaker }}
  </div>
</app-card>
