<mat-card>
  <button mat-flat-button color="primary" (click)="proceed()">Proceed</button>
  <div>ID: {{ game?.id }}</div>
  <div>Phase: {{ game?.phase }}</div>
  <div>Team Score: {{ game?.teamPoints?.length }}</div>
  <div>Fakes: {{ game?.fakePoints?.length }}</div>
  <div>Neutral: {{ game?.neutralCards?.length }}</div>
  <div *ngIf="game?.phase === 5">GAME OVER</div>
</mat-card>
<div class="players">
  <app-card *ngFor="let player of game?.players" [selected]="currentPlayer?.id === player.id" (click)="currentPlayerChange.emit(player)">
    <span [style.color]="player.color">{{ player.name }}</span>
  </app-card>
</div>
