@use "../mixins";
:host {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 16px;
}

.players {
  @include mixins.defaultGrid();
  margin: 16px 0;
  align-items: center;
  --card-font-size: 20px;
  --card-padding: 8px;
  --card-border-color: black;
  --card-background-color: black;
}
